<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北海道</key>
	<string>01.xml</string>
	<key>青森県</key>
	<string>02.xml</string>
	<key>岩手県</key>
	<string>03.xml</string>
	<key>宮城県</key>
	<string>04.xml</string>
	<key>秋田県</key>
	<string>05.xml</string>
	<key>山形県</key>
	<string>06.xml</string>
	<key>福島県</key>
	<string>07.xml</string>
	<key>茨城県</key>
	<string>08.xml</string>
    <key>栃木県</key>
    <string>09.xml</string>
    <key>群馬県</key>
    <string>10.xml</string>
    <key>埼玉県</key>
    <string>11.xml</string>
    <key>千葉県</key>
    <string>12.xml</string>
    <key>東京都</key>
    <string>13.xml</string>
    <key>神奈川県</key>
    <string>14.xml</string>
    <key>新潟県</key>
    <string>15.xml</string>
    <key>富山県</key>
    <string>16.xml</string>
    <key>石川県</key>
    <string>17.xml</string>
    <key>福井県</key>
    <string>18.xml</string>
    <key>山梨県</key>
    <string>19.xml</string>
    <key>長野県</key>
    <string>20.xml</string>
    <key>岐阜県</key>
    <string>21.xml</string>
    <key>静岡県</key>
    <string>22.xml</string>
    <key>愛知県</key>
    <string>23.xml</string>
    <key>三重県</key>
    <string>24.xml</string>
    <key>滋賀県</key>
    <string>25.xml</string>
    <key>京都府</key>
    <string>26.xml</string>
    <key>大阪府</key>
    <string>27.xml</string>
    <key>兵庫県</key>
    <string>28.xml</string>
    <key>奈良県</key>
    <string>29.xml</string>
    <key>和歌山県</key>
    <string>30.xml</string>
    <key>鳥取県</key>
    <string>31.xml</string>
    <key>島根県</key>
    <string>32.xml</string>
    <key>岡山県</key>
    <string>33.xml</string>
    <key>広島県</key>
    <string>34.xml</string>
    <key>山口県</key>
    <string>35.xml</string>
    <key>徳島県</key>
    <string>36.xml</string>
    <key>香川県</key>
    <string>37.xml</string>
    <key>愛媛県</key>
    <string>38.xml</string>
    <key>高知県</key>
    <string>39.xml</string>
    <key>福岡県</key>
    <string>40.xml</string>
    <key>佐賀県</key>
    <string>41.xml</string>
    <key>長崎県</key>
    <string>42.xml</string>
    <key>熊本県</key>
    <string>43.xml</string>
    <key>大分県</key>
    <string>44.xml</string>
    <key>宮崎県</key>
    <string>45.xml</string>
    <key>鹿児島県</key>
    <string>46.xml</string>
    <key>沖縄県</key>
    <string>47.xml</string>
    
</dict>
</plist>
